<header id="header">
    <div class="container" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <ul class="menu">
        <li><a href="#projects">Project</a></li>
        <li><a href="#contact-me">Contact me</a></li>
    </ul>
    <div id="bg-image"></div>
    <div id="pinball"></div>
    <div class="header-container">
        <h1>Jin Woo Kim</h1>
        <p>Fullstack Developer, Seattle WA</p>
    </div>
</header>