<section id="profile">
    <img src="./image/IMG_0339.jpeg" alt="profile picture" id="profile-photo">
    <p>Fullstack developer experienced in Javascript, Node and PSQL. Always in pursuit of furthering my
        education and technique. I enjoy solving complex problem and problems that involve critical thinking. My
        goal is to build an application that can be utilized by many at ease and help to solve problem in
        communication between medical providers and patients in need.</p>
</section>