<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="./styles/base.css">
    <link rel="stylesheet" href="./styles/layout.css">
    <link rel="stylesheet" href="./styles/module.css">
</head>
<body>
    <header id="header">
        <div class="container" onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <ul class="menu">
            <li><a href="#projects">Project</a></li>
            <li><a href="#contact-me">Contact me</a></li>
         </ul>
        <img src="./image/default.png" id="name"/>
        <hr>
        <div id='fade'>&nbsp;

        </div>
    </header>
    <main>
        <section id="profile">
            <img src="./image/IMG_0339.jpeg" alt="profile picture" id="profile-photo">
            <p>Fullstack developer experienced in Javascript, Node and PSQL. Always in pursuit of furthering my education and technique. I enjoy solving complex problem and problems that involve critical thinking. My goal is to build an application that can be utilized by many at ease and help to solve problem in communication between medical providers and patients in need.</p>
        </section>
        <h3 id="projects">Projects</h3>
        <article>
            <section>
                <a href="https://jumpstartcf.herokuapp.com/">
                    <img src="./image/jumpstart.png" alt="jumpstart" class="sites">
                </a>
                <figcaption><strong>F</strong>ullstack application that has compilation of job listings from four different APIs into one website providing user to see the result in one search in randomized order. 

                <strong>A</strong>pplied PSQL database to store users favorited job and able to render whenever user seeks</figcaption>
            </section>
            <section>
                <a href="https://bd-jk-booklists.herokuapp.com/">
                    <img src="./image/book-app.png" alt="Book App" class="sites" id='book'>
                </a>
                <figcaption><strong>F</strong>ullstack application that has Stored favorite book into PSQL database and render it to the users.

                <strong>C</strong>reated backend server to call REST API and show it in front end using EJS files
                </figcaption>
            </section>
            <section>
                <a href="https://jinwoov.github.io/Star-Hunt-Wars/">
                    <img src="./image/star-hunt-wars.png" alt="star-hunt-wars" class="sites">
                </a>
                <figcaption><strong>P</strong>ersonality quiz based on Star Wars trilogy and allow user to store data to render at the end.</figcaption>
            </section>
        </article>
        
   <%- include('./partials/contact') %>
    </main>
    <aside><a href="#name" id='totop'>^</a></aside>
  <%- include('./partials/footer') %>
</body>
<script src="./js/jquery.js"></script>
<script src="./js/app.js"></script>
</html>