<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="./styles/login/base.css">
<link rel="stylesheet" href="./styles/login/layout.css">
<link rel="stylesheet" href="./styles/login/module.css">
<body>
<main>
<form action="/admin" method="post" class="form-box">
<label for="username">
    <span>Username</span>
    <input type="text" name="username" placeholder='Username' />
</label>
<label for="password">
    <span>Password</span>
    <input type="password" name="password" id="password" placeholder="Password" />
</label>
<button type='submit'>Login</button>
</form>
</main>
</body>
</html>