
#name {
    text-align: center;
    padding-top: 20px;
    width: 300px;
}


header {
    background-image: url('../image/header-hawaii.jpeg');
    text-align: center;
    background-position: 25% 45%;
    background-repeat: no-repeat;
}

#fade {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%, #e1ccc2fd 100%);
    height:100%;
    width: 100%;
    white-space: pre-line;
}

section {
    height: 100%;
}

main {
    width: 90%;
    margin: auto;
    text-align: center;
}

footer {
    height: 100%; 
    background-color: rgb(65, 65, 65);
    overflow: hidden;
    margin-top: 20px;

}

footer p {
    text-align: center;
    color: white;
    padding-top: 1%;
}

