p {
    text-align: center;
}

hr {
    border: black 1px solid;
    border-radius: 20%;
    width: 30%;
    box-sizing: border-box;
}

#profile img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2% auto;
    width: 60%;
    margin-bottom: 3%;
}

#profile p {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 0;
    font-size: 1.2rem;
}

.sites {
    /* height: 40%; */
    width: 100%;
    height: 230px;
}

.sites:hover {
    opacity: 0.6;
}

b {
    text-decoration: underline;
    font-weight: bold;
}

article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

figcaption {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-top: none;
    white-space: pre-line;
    text-align: left;
    padding: 1%;
    background-color: white;
}

strong {
    font-size: 1.5rem;
}

a img {
    margin-top: 3%;
}
footer>div>a>img {
    width: 5%;
    padding: 5px;
    margin: 5px 0px;
}
footer div {
    text-align: center;
}

aside a {
    display:none;
    position: fixed;
    right:5%;
    bottom: 20%;
    font-size: 5em;
    color: white;
    height: 10%;
    text-shadow: 1px 1px 6px black ;
    text-decoration: none;
}

#book {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);

}

@media (min-width: 960px) {
    footer>div>a>img {
        width: 30px;
    }

    #profile img {
        width: 25%;
    }

    article {
        display: grid;
        grid-template: 100%/ 33% 33% 33%;
    }

    article section {
        margin: 5%
    }
    .sites {
        height: 200px;
    }
    figcaption {
        height: 9.5em;
        padding: 4%;
    }
}